.front_page_slider {
  height: 600px;
}
@media only screen and (max-width: 600px) {
  .front_page_slider {
    height: 200px;
  }
}
.serie_liste {
  justify-content: space-between;
  flex-wrap: wrap;
}
@media only screen and (max-width: 600px) {
  .serie_liste {
    justify-content: center;
  }
}
.serie_card {
  width: 400px;
  margin: 10px;
}
@media only screen and (max-width: 600px) {
  .serie_card {
    width: 90vw;
  }
}
.post_page_image {
  min-height: 900px;
}
@media only screen and (max-width: 600px) {
  .post_page_image {
    min-height: 250px;
  }
}
.mobile-only {
  display: none;
}
.hide-on-mobile {
  display: block;
}
@media only screen and (max-width: 600px) {
  .mobile-only {
    display: block;
  }
  .hide-on-mobile {
    display: none;
  }
}
.ant-carousel .slick-prev,
.ant-carousel .slick-next,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-prev:focus,
.ant-carousel .slick-next:focus {
  font-size: 50px;
  color: black;
  z-index: 999;
}
.ant-carousel .slick-next,
.ant-carousel .slick-next:hover,
.ant-carousel .slick-next:focus {
  right: 20px;
  bottom: 0px;
}
.ant-carousel .slick-prev,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-prev:focus {
  left: 10px;
  bottom: 0px;
}
