a {
  text-decoration: none;
}
body {
  background-color: #111111;
}
.menu-link {
  color: lightgrey;
  font-size: 18px;
  font-family: "Prompt", sans-serif;
  margin: 24px;
}
.menu-link:hover {
  color: white;
}
.title {
  font-family: "Italiana", serif;
  font-size: 64px;
  font-weight: 600;
  color: white;
}
.hero-title {
  text-align: center;
  width: 50vw;
  text-shadow: 3px 5px 6px black;
}
@media only screen and (max-width: 600px) {
  .title {
    font-size: 36px;
  }
  .hero-title {
    width: 80vw;
  }
}

.title-text {
  font-family: "Prompt", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: white;
  margin-top: 10px;
}

.blurb {
  font-family: "Prompt", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: lightgrey;
  margin-top: 10px;
}

.serie_liste {
  justify-content: space-between;
  flex-wrap: wrap;
}
@media only screen and (max-width: 600px) {
  .serie_liste {
    justify-content: center;
  }
}
.serie_card {
  width: 400px;
  margin: 10px;
}
@media only screen and (max-width: 600px) {
  .serie_card {
    width: 90vw;
  }
}

.mobile-only {
  display: none;
}
.hide-on-mobile {
  display: block;
}
@media only screen and (max-width: 1024px) {
  .mobile-only {
    display: block;
  }
  .hide-on-mobile {
    display: none;
  }
}
